GEMINI_API_KEY=AQ.Ab8RN6JH9OLhYG6umvRUdngiOi9DQfkHV-N7aMaJZw60BVDrYA
SUPABASE_PROJECT_ID="ywtlkyvstlsbtrmamrla"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_ORGkUwZzL1iSKzvgGnJobg_S3TBSW2-"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3dGxreXZzdGxzYnRybWFtcmxhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTIyNzAxNiwiZXhwIjoyMTA0ODAzMDE2fQ.QhG42S48G5l1qjBuItiu3nSEtqMoA8EgZdxedWkOP48"
SUPABASE_URL="https://ywtlkyvstlsbtrmamrla.supabase.co"
VITE_SUPABASE_PROJECT_ID="ywtlkyvstlsbtrmamrla"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_ORGkUwZzL1iSKzvgGnJobg_S3TBSW2-"
VITE_SUPABASE_URL="https://ywtlkyvstlsbtrmamrla.supabase.co"
